/* HEADER  */

.header-container{
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */
    font-family: 'Noto Serif', serif;
    font-size: 18px;  
    
}

.header-area{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* LOGO */
.header-logo img{
    height: 40px;
    margin-top: 8px;
}
/* LOGO */

/* MENU NAVEGACAO */
.header-navegacao ul{
    display: flex;
    width: 350px;
    list-style: none;
    justify-content: space-between;
}

.header-navegacao a, .header-acesso a{
    position: relative;

}

.header-navegacao a::after, .header-acesso a::after{
    content: "";
    width: 0%;
    height: 2.5px;
    background-color: var(--color-tucans);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;

}

.header-navegacao a:hover::after, .header-acesso a:hover::after{
    width: 100%;
   
}
/* MENU NAVEGACAO */

/* MENU ACESSO */
.header-acesso ul{
    width: 140px;
    list-style: none;
    display: flex;
    justify-content: space-between;    
}

.header-acesso ul li{
    display: inline; 
}

/* MENU ACESSO */

/* HEADER */

/* CONTENTS */
/* BANNER */
.banner-container{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.toucan-container img{
    width: 420px;
}
.start-container h2,h1{
    font-family: 'DynaPuff', cursive;
    /* font-family: 'Petit Formal Script', cursive; */
    /* font-family: 'Noto Serif', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Silkscreen', cursive; */
    
}
.start-container h2{
    font-size: 60px;
}
.start-container h1{
    font-size: 80px;
}
.start-container h1 span{
    font-size: 70px;
    color: var(--color-tucans);
}

.start-container p {
   font-size: 30px;
   margin-top: 10px;
}

.start-container p span{
    color: var(--color-tucans);
}

.contents-container{
    margin-top: 15px;
}


/* BANNER */
/* CONTENTS */

