:root{
    --color-tucans: #ff8906;
    --color-background-black: #242629;
    --color-white: #fff;
    --color-background-banner: #ff8906;
    --color-background-menu: #fffffe;
    --color-nav-header: rgb(36, 36, 36);
    /* --backgrund: URL("/assets/image/template/meetings-bg.jpg"); */
    --color-icones-linguages: #ffa500
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    box-sizing: border-box;
}

body,html
{
    width: 100%;
    height: 100%;
}

a:link
{
    text-decoration: none;
    color: black
}

a:

a:visited,a
{
    text-decoration: none;
    color: black;
}

.color-icones
{
    color:var(--color-icones-linguages)
}



/* START HEADER AREA */

/* NAV */

#navegacao{
    width: 100%;
    height: 30px;
    /* background-color: var(--color-tucans); */
    background-color: var(--color-nav-header);
}

.box-nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    
}

.box-nav-email{
    /* border: 1px solid red; */
    color: #FFF;
}

.box-nav-social{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: end;
}

.box-social{
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    width: 7%;
    /* border: 1px solid red; */
}
.box-social i:hover {
    color: var(--color-tucans);
 }


#header-area
{
    border-bottom: 2px solid #f8db97;
    background-color: #FFF;
}

#menu
{
    /* position: fixed; */
    margin: 0 auto;
    width: 90%;
   background-color: #FFF;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
}

#menu li
{
    display:inline;
}

#menu li a
{
    padding: 10px;
    font-weight: 700;
   
}

/* #menu li a:hover
{
    /* border:none
    
} */


#menu span img
{
    height: 50px; 
    margin-top: 5px;
   
}

#btn-login{
    
    width: 70px;
    height: 30px;
    background-color: var(--color-tucans);
    border: none;
    box-shadow: 0px;
}

.link-login{
    color: white;
}

/*FOOTER*/
#box-footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 200px;
    margin-top: 150px;
    width: 100%;
    margin-bottom: 50px;
    background-color: #3c3d41
}

/* teste footer */

 #container-grid
{
    display: grid; 
    grid-template-columns: 1fr;
    justify-content: space-between; 
     grid-template-rows: 1fr 1fr;
    grid-template-areas: "sobre" "cursos";
}

#cursos
{
    grid-area: cursos;
    background-color: green;
    height: 50vh;
}

#sobre
{
    grid-area: sobre;
    background-color: blue;
    height: 50vh;
} 