:root{
    --color-tucans: #ff8906;
    --color-background-black: #242629;
    --color-white: #fff;
    --color-background-banner: #ff8906;
    --color-background-menu: #fffffe;
    --backgrund: URL("/assets/image/template/meetings-bg.jpg");
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    box-sizing: border-box;
}

/* body
{
     background-color:  rgb(131 131 131 / 15%); 
}  */


a:visited,a
{
    text-decoration: none;
    color: black;

}





/* START HEADER AREA */
#header-area
{
    border-bottom: 2px solid #f8db97;
    
}

#menu
{
    position: fixed;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.052); */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 700px;
}

#menu li
{
    display:inline;
}

#menu li a
{
    padding: 10px;
    font-weight: 700;
   
}

#menu li a:hover
{
    color: #ff8906;
}

#menu span img
{
    height: 50px; 
    margin-top: 5px;
   
}

/* START BANNER */
#banner
{
    background-image: linear-gradient(to bottom, #fffce3, #faf0c1, #f7e39f, #f6d47e, #f7c55c, #f9b74a, #fba83a, #fe982c, #ff8730, #ff7637, #fd643e, #fa5246); 
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.banner img
{
    width: 200px;
    height: 200px;
}

.banner-text
{
    margin-top: 10px;
    
    
}

.banner-text h1
{
color: black;
font-size: 25px;
}

.box
{
    background-color: #abd1c6;
    border-radius: 3px;
    margin: 50px;
}


/* END BANNER */


/* END HEADER AREA */
