:root{
    --color-tucans: #ff8906;
    --color-background-black: #242629;
    --color-white: #fff;
    --color-background-banner: #ff8906;
    --color-background-menu: #fffffe;
    --color-nav-header: rgb(36, 36, 36);
    --backgrund: URL("/assets/image/template/meetings-bg.jpg");
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    box-sizing: border-box;
}

/* body
{
     background-color:  rgb(131 131 131 / 15%); 
}  */


a:visited,a
{
    text-decoration: none;
    color: black;

}





/* START HEADER AREA */

/* NAV */

#navegacao{
    width: 100%;
    height: 30px;
    /* background-color: var(--color-tucans); */
    background-color: var(--color-nav-header);
}

.box-nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    
}

.box-nav-email{
    /* border: 1px solid red; */
    color: #FFF;
}

.box-nav-social{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: end;
}

.box-social{
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    width: 7%;
    /* border: 1px solid red; */
}
.box-social i:hover {
    color: var(--color-tucans);
 }


#header-area
{
    border-bottom: 2px solid #f8db97;
    
}

#menu
{
    /* position: fixed; */
    margin: 0 auto;
    width: 90%;
   background-color: #FFF;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
}

#menu li
{
    display:inline;
}

#menu li a
{
    padding: 10px;
    font-weight: 700;
   
}

#menu li a:hover
{
    color: #ff8906;
}

#menu span img
{
    height: 50px; 
    margin-top: 5px;
   
}

#btn-login{
    
    width: 70px;
    height: 30px;
    background-color: var(--color-tucans);
    border: none;
    box-shadow: 0px;
}

.link-login{
    color: white;
}




    

/* START BANNER */
#banner
{
    /* background-image: linear-gradient(to bottom, #fffce3, #faf0c1, #f7e39f, #f6d47e, #f7c55c, #f9b74a, #fba83a, #fe982c, #ff8730, #ff7637, #fd643e, #fa5246);  */
    background-color: var(--color-tucans);
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.banner img
{
    width: 200px;
    height: 200px;
}

.banner-text
{
    margin-top: 10px;
    
    
}

.banner-text h1
{
color: black;
font-size: 25px;
}

.box
{
    background-color: #abd1c6;
    border-radius: 3px;
    margin: 50px;
}


/* END BANNER */


/* END HEADER AREA */

/* CONTEUDO*/
#box-conteudo{
    width: 100%;
    padding: 30px;
    margin-top: 60px;
    background-color: #FFF;
    height: auto;
    text-align: center;
}

.box-cursos{
    margin: 0 auto;
    height: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.cursos{
   
    height: 180px;
    width: 200px;
    margin-top: 20px;
    background-color: #ff8906;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    color: whitesmoke;
    border-radius: 10px;
   
    
}

.cursos i {
    font-size: 100px;
}